body {
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
}

.Layout ul {
  display: flex;
  list-style-type: none;
}

.Layout  ul li {
  margin-right: 35px;
}

.Layout ul li:hover {
  color: rgb(233, 222, 179);
  cursor: pointer;
}

.Footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Item {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(58, 58, 58);
}

.Item label {
  margin: 10px 10px 10px 10px;
}

.Item button {
  font-size: 10px;
  background-color: rgb(139, 27, 27);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}


.addNewItem {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  /* background-color: pink; */
}

.addNewItem button {
  background-color: rgb(28, 150, 58);
}

.Items {
  border: 2px solid rgb(88, 87, 87);
  border-radius: 10px;
}

.Items h1 {
  display: flex;
  justify-content: center;
}

.LinkNew {
  color: rgb(245, 245, 245);
}

.LinkUpdate {
  color: rgb(245, 245, 245);
}

.buttons .ButtonUpdate {
  background-color: rgb(49, 100, 158);
}

.PersonForm {
  display: flex;
  flex-direction: column;
  /* background-color: pink; */
}

.Home {
  display: flex;
  justify-content: space-between;
}

.Count {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.CountNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(83, 83, 83);
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
}

.CountNumber label {
  font-size: 40px;
}

.Person {
  display: flex;
  flex-direction: column;
}

.Navbar {
  display: flex;
  justify-content: center;
  top: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(70, 70, 70);
}

.Navbar ul .Link{
  display: flex;
  /* list-style-type: none; */
  color: rgb(245, 245, 245);
  /* background-color: rgb(122, 122, 122); */
}

