body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Layout ul {
  display: flex;
  list-style-type: none;
}

.Layout  ul li {
  margin-right: 35px;
}

.Layout ul li:hover {
  color: rgb(233, 222, 179);
  cursor: pointer;
}

.Footer {
  display: flex;
  justify-content: right;
}